<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <div id="g-starter-kit-rain-AI2HTML-box" class="ai2html ai2html-box-v5">

      	<!-- Artboard: Artboard_2 -->
        <div id="g-starter-kit-rain-AI2HTML-Artboard_2" class="g-artboard" style="width:400px; height:5718.05227230417px;" data-aspect-ratio="0.07" data-min-width="400">
      		<img id="g-starter-kit-rain-AI2HTML-Artboard_2-img" class="g-aiImg g-aiAbs" src="./assets/starter-kit-rain-AI2HTML-Artboard_2.jpg"/>
      		<div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:2.1594%;margin-top:-66.6px;left:10.807%;width:271px;">
      			<p class="subhead-orange">First things first:</p>
      			<p class="hed-brown">You need</p>
      			<p class="hed-brown">a raincoat</p>
      		</div>
      		<div id="g-ai0-2" class="g-Layer_1 g-aiAbs" style="top:3.0255%;left:10.7387%;width:80.75%;">
      			<p class="big-body">Some people will spend upwards of $300 on certain brands, but <span class="bold-orange">a raincoat doesn&rsquo;t need to be expensive </span>(or even new) to do its job. </p>
      		</div>
      		<div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="transform: matrix(0.9678,-0.2516,0.2516,0.9678,0,0);transform-origin: 50% 52.9188044629041%;-webkit-transform: matrix(0.9678,-0.2516,0.2516,0.9678,0,0);-webkit-transform-origin: 50% 52.9188044629041%;-ms-transform: matrix(0.9678,-0.2516,0.2516,0.9678,0,0);-ms-transform-origin: 50% 52.9188044629041%;top:11.1054%;margin-top:-30.7px;left:29.7892%;margin-left:-58px;width:116px;">
      			<p class="price">$40 - $150</p>
      			<p class="wheretobuy">Used at</p>
      			<p class="wheretobuy">REI Co-op</p>
      		</div>
      		<div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:17.711%;margin-top:-31.7px;left:10.7384%;width:263px;">
      			<p class="subhead-brown">what to look for</p>
      			<p class="subhead-brown">in a raincoat</p>
      		</div>
      		<div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:19.0651%;margin-top:-13.2px;left:10.7384%;width:303px;">
      			<p class="subhead-orange">sturdy hood and pockets</p>
      		</div>
      		<div id="g-ai0-6" class="g-Layer_1 g-aiAbs" style="top:19.3647%;left:10.7202%;width:74.25%;">
      			<p>Keep the rain off your head, your hair and your smartphone.</p>
      		</div>
      		<div id="g-ai0-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:20.9265%;margin-top:-13.2px;left:10.7384%;width:198px;">
      			<p class="subhead-orange">Wind resistance</p>
      		</div>
      		<div id="g-ai0-8" class="g-Layer_1 g-aiAbs" style="top:21.1636%;left:10.7202%;width:74.25%;">
      			<p>Temperatures in Seattle don&rsquo;t typically drop below 30 degrees Fahrenheit, but when the winds kick up you might feel colder. </p>
      		</div>
      		<div id="g-ai0-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:23.4148%;margin-top:-13.2px;left:10.7384%;width:90px;">
      			<p class="subhead-orange">color</p>
      		</div>
      		<div id="g-ai0-10" class="g-Layer_1 g-aiAbs" style="top:23.7493%;left:10.7202%;width:74.25%;">
      			<p>You&rsquo;ll likely see most Seattleites in gray, black, and dark blue, but a pop of color can be good for your mood and visibility.</p>
      		</div>
      		<div id="g-ai0-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:26.3255%;margin-top:-25.3px;left:10.7751%;width:285px;">
      			<p class="hed-brown">Layering 101 </p>
      		</div>
      		<div id="g-ai0-12" class="g-Layer_1 g-aiAbs" style="top:27.0372%;left:10.7759%;width:50.5%;">
      			<p class="big-body">In Seattle, temperatures tend to stay in the 30s to 50s, but the weather can change by the minute, <span class="bold-orange">so dress in layers</span> for easy warmth modification.</p>
      		</div>
      		<div id="g-ai0-13" class="g-Layer_1 g-aiAbs" style="top:35.0644%;left:10.7759%;width:80.5%;">
      			<p>A T-shirt or dress shirt under a sweater under a lightweight rain jacket or shell tends to do the trick.</p>
      		</div>
      		<div id="g-ai0-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:37.3083%;margin-top:-25.3px;left:10.9677%;width:298px;">
      			<p class="hed-brown">On your feet</p>
      		</div>
      		<div id="g-ai0-15" class="g-Layer_1 g-aiAbs" style="top:37.8451%;left:11.0297%;width:81.25%;">
      			<p class="big-body">When the winter rain hits, it&rsquo;s time to retire your delicate suede and canvas in favor of <span class="bold-orange">waterproof shoes</span>.</p>
      		</div>
      		<div id="g-ai0-16" class="g-Layer_1 g-aiAbs" style="top:40.241%;left:10.835%;width:78.75%;">
      			<p>If your commute includes walking &mdash; or your winter weekends include hiking &mdash; consider investing in a pair of  wool socks to keep your feet warm.</p>
      		</div>
      		<div id="g-ai0-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="transform: matrix(0.9831,-0.1832,0.1832,0.9831,0,0);transform-origin: 50% 52.2893059263896%;-webkit-transform: matrix(0.9831,-0.1832,0.1832,0.9831,0,0);-webkit-transform-origin: 50% 52.2893059263896%;-ms-transform: matrix(0.9831,-0.1832,0.1832,0.9831,0,0);-ms-transform-origin: 50% 52.2893059263896%;top:44.7574%;margin-top:-39px;left:21.2213%;margin-left:-57px;width:114px;">
      			<p class="price"> $16-$25</p>
      			<p class="wheretobuy">darn tough</p>
      			<p class="wheretobuy">merino</p>
      			<p class="wheretobuy">socks</p>
      		</div>
      		<div id="g-ai0-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);transform-origin: 50% 52.9188520050819%;-webkit-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-webkit-transform-origin: 50% 52.9188520050819%;-ms-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-ms-transform-origin: 50% 52.9188520050819%;top:46.9693%;margin-top:-30.7px;left:74.1797%;margin-left:-59px;width:118px;">
      			<p class="price">$36-$200</p>
      			<p class="wheretobuy">waterproof</p>
      			<p class="wheretobuy">shoes</p>
      		</div>
      		<div id="g-ai0-19" class="g-Layer_1 g-aiAbs" style="top:49.7897%;left:11.0297%;width:78.75%;">
      			<p>You can also use a waterproofing spray to winterize shoes you already own. (Try Nikwax, $10 to $30.)</p>
      		</div>
      		<div id="g-ai0-20" class="g-Layer_1 g-aiAbs" style="top:51.8183%;left:10.835%;width:78.75%;">
      			<p>Keeping a <span class="bold-orange">dry pair of shoes and socks</span> at the office can also be helpful if a run-in with a puddle leaves you in need of some pinch-hitters.</p>
      		</div>
      		<div id="g-ai0-21" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:55.2276%;margin-top:-47.9px;left:9.2889%;width:315px;">
      			<p class="hed-brown">The umbrella</p>
      			<p class="hed-brown">controversy</p>
      		</div>
      		<div id="g-ai0-22" class="g-Layer_1 g-aiAbs" style="transform: matrix(1,0.0015,-0.0015,1,0,0);transform-origin: 50% 50.3102591939737%;-webkit-transform: matrix(1,0.0015,-0.0015,1,0,0);-webkit-transform-origin: 50% 50.3102591939737%;-ms-transform: matrix(1,0.0015,-0.0015,1,0,0);-ms-transform-origin: 50% 50.3102591939737%;top:56.3129%;left:10.4436%;width:80.25%;">
      			<p class="big-body">Supposedly, carrying an umbrella in this rainy city marks you as a tourist. But the real reason Seattleites eschew them is that most of the time we experience <span class="bold-orange">a persistent drizzle, not a full-on downpour</span>. But on rare days when the rain starts to really come down, even locals will break out their umbrellas.</p>
      		</div>
      		<div id="g-ai0-23" class="g-Layer_1 g-aiAbs g-aiPointText" style="transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);transform-origin: 50% 52.9188520050819%;-webkit-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-webkit-transform-origin: 50% 52.9188520050819%;-ms-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-ms-transform-origin: 50% 52.9188520050819%;top:63.8981%;margin-top:-30.7px;left:75.9695%;margin-left:-49.5px;width:99px;">
      			<p class="price">$40-$70</p>
      			<p class="wheretobuy">Bella</p>
      			<p class="wheretobuy">Umbrella</p>
      		</div>
      		<div id="g-ai0-24" class="g-Layer_1 g-aiAbs g-aiPointText" style="transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);transform-origin: 50% 50.5379959650303%;-webkit-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-webkit-transform-origin: 50% 50.5379959650303%;-ms-transform: matrix(0.9784,0.2068,-0.2068,0.9784,0,0);-ms-transform-origin: 50% 50.5379959650303%;top:68.6007%;margin-top:-22.5px;left:75.6346%;margin-left:-48px;width:96px;">
      			<p class="price">$10-$20</p>
      			<p class="wheretobuy">Totes</p>
      		</div>
      		<div id="g-ai0-25" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:75.353%;margin-top:-31.7px;left:10.6691%;width:294px;">
      			<p class="subhead-brown">what to look for in</p>
      			<p class="subhead-brown">an umbrella</p>
      		</div>
      		<div id="g-ai0-26" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:76.7596%;margin-top:-13.2px;left:10.6691%;width:154px;">
      			<p class="subhead-orange">Collapsible</p>
      		</div>
      		<div id="g-ai0-27" class="g-Layer_1 g-aiAbs" style="top:77.1417%;left:10.6697%;width:80.25%;">
      			<p>Unless you want to go for the Victorian English gentleman vibe  (just make sure your dapper look doesn&rsquo;t become a traffic hazard).</p>
      		</div>
      		<div id="g-ai0-28" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.2954%;margin-top:-13.2px;left:10.6691%;width:152px;">
      			<p class="subhead-orange">strong ribs</p>
      		</div>
      		<div id="g-ai0-29" class="g-Layer_1 g-aiAbs" style="top:79.66%;left:10.6697%;width:80.25%;">
      			<p>Have you ever had an umbrella flip inside-out in the wind? Check for ribs that don&rsquo;t bend easily.</p>
      		</div>
      		<div id="g-ai0-30" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:81.394%;margin-top:-13.2px;left:10.6691%;width:178px;">
      			<p class="subhead-orange">sturdy panels</p>
      		</div>
      		<div id="g-ai0-31" class="g-Layer_1 g-aiAbs" style="top:81.7586%;left:10.6697%;width:80.25%;">
      			<p>Materials like nylon are durable choices.</p>
      		</div>
      		<div id="g-ai0-32" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:83.5478%;margin-top:-21.3px;left:10.6157%;width:266px;">
      			<p class="hed-brown">Hair triage</p>
      		</div>
      		<div id="g-ai0-33" class="g-Layer_1 g-aiAbs" style="top:84.1545%;left:10.677%;width:78%;">
      			<p class="big-body">Humidity in the air doesn&rsquo;t have to mean you have to give up on grooming for the next few months. </p>
      		</div>
      		<div id="g-ai0-34" class="g-Layer_1 g-aiAbs" style="top:86.4805%;left:11.3147%;width:80%;">
      			<p>If you&rsquo;re rocking curls, running a little <span class="bold-orange">gel</span><span class="g-cstyle2"> </span>through after they&rsquo;ve been hit with moisture can keep them looking tight. <span class="bold-orange">Bobby pins and scrunchies</span> are also your friends.  </p>
      		</div>
      		<div id="g-ai0-35" class="g-Layer_1 g-aiAbs" style="top:95.7319%;left:11.3147%;width:78.75%;">
      			<p>Whether it&rsquo;s a pin-up, a bun or a high pony, <span class="bold-organge">a solid updo</span> can save the day when your hair just isn&rsquo;t having it. <span class="bold-orange">An umbrella</span>, particularly of the bubble variety, can make the difference between frizzy or fly. If all else fails, an emergency scarf will do the trick.</p>
      		</div>
      	</div>

      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
